@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* primary color */
  --color-primary-50: oklch(0.7052 0.1964 142.69);
  --color-primary-100: oklch(0.6395 0.1618 51.21);
  --color-primary-200: oklch(0.7768 0.0968 266.54);
}